
p {
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  color: goldenrod
}

h2 {
  font: italic small-caps normal 13px/150% 'Kalam', cursive;
}

#blink {
  animation: blink 3s linear infinite;
}
  @keyframes blink {
    from {
      color:black;
    }
    to {
      color: red;
    }
  }

div.table {
	display: table;
	border-collapse: collapse;
}
div.tr {
	display: table-row;
}
div.td {
	display: table-cell;
	border: thin solid red;
	padding: 5px;
}

