<hello name="{{ name }}"></hello>

<h2>
Überschrift per css formatiert. Wow ;-)
</h2>

<p>
  Angular - Wie JM lernte mit Kanonen auf Amöben zu schießen!
</p>

<span id="blink">
  reines css hat kein if/else. D.h. (wenn Wert <> 0,00 dann rot) ist wohl nicht möglich . Weiter bei SASS
  </span>


	<div class="table">
		<div class="tr">
			<div class="td">Jahr</div>
			<div class="td">Beitrag</div>
			<div class="td">ZAHL-ZUL</div>
			<div class="td">BEI-ZUL</div>
    	<div class="td">ZULAGE</div>
		</div>
	</div>

  <div class="table">
		<div class="tr">
			<div class="td">2002</div>
			<div class="td">1200,00</div>
			<div class="td">111,00</div>
			<div class="td">1353,15</div>
      <div class="td">153,15</div>
		</div>
	</div>

<!-- Anfang Kommentar
  
*************  html  **************
  <div id="aDiv"></div>
  
*************  css  **************
* {
    font-family: Arial, 'Sans Serif';
}
}
#aDiv{
    background-color: lightgray;
}
p {
    color: #20561E;
}
.myClass {
    font-size: smaller;
    border:1px solid black;
    padding:5px;
    width:30px;
}

*************  javascript  **************
/* set a variable */
var text;
var beitrag;
var zulage;
beitrag = 99
zulage = 20
text = beitrag + zulage

/* get an element */
var myDivElement = document.getElementById('aDiv');

/* add an attribute */
myDivElement.setAttribute('class', 'myClass');

/* add content */
myDivElement.innerHTML = '<p>' + text + '</p>';

  Letzte Zeile des Kommentars -->