
p {
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  color: goldenrod
}

h2 {
  font: italic small-caps normal 13px/150% 'Kalam', cursive;
}

#blink {
  animation: blink 2s linear infinite;
}
  @keyframes blink {
    from {
      color: white;
    }
    to {
      color: red;
    }
  }


